.FAQ{
    background-color: var(--faq-color);
    padding-left: 55px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 55px;
    border-radius: 20px;
    color: var(--text-color);
    border: solid 10px #b4b4b4;
}
.github svg{
  fill: #151513;
  border:0;
  color:#fff;
  height:80px;
  right:0;
  bottom: 0;
  width:80px
}
.🧮{
    text-decoration: none;
}
.🧮:hover{
    text-decoration: underline;
}
